
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    zscroll-behavior: smooth;
}
.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.w-100{
width: 100%;
}

.w-50{
  width: 50%;
}


.border-bottom{
  border-bottom: 1px solid #f3f3f4;
}


.container {
@media screen and (max-width: $breakpoint-sm-max) {
  padding-right: 10px;
  padding-left: 10px;
}
}

